* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/*-------------GRID-------------*/
body {
  display: grid;
}

/*-------------HEADER-------------*/
header {
  text-align: center;
  background-color: #b8ff71;
  margin-bottom: 1vh;
  display: flex;
  justify-content: center;
}

header a {
    padding: 2em 0;
    width: 100%;
    height: 100%;
}

/*-------------BROAD ELEMENT STYLING-------------*/

main, article {
  margin: auto;
  margin-bottom: 1em;
  width: 60vw;
  max-width: 400px;
  /* background-color: red; */
}

h1,
h2,
p {
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin: 0.5em 0;
}

h2 {
  margin: 0.5em;
}

a {
  text-decoration: none;
  color: black;
}

/*-------------NAVBAR SETTINGS FOR EVERY PAGE-------------*/
.nav-bar-container {
    text-align: center;
    display: flex;
    justify-content: center;
}

.nav-bar-container a {
  padding: 3em 0;
  width: 100%;
  height: 100%;
}

#my-work-link {
  background: #fc5656;
  grid-area: my-work;
}

#contact-link {
  background: #d7bbf7;
  grid-area: contact;
}

#about-me-link {
  background: white;
  grid-area: about-me;
}

#blog-index-link {
  background: #5e99ff;
  grid-area: blog-index;
}

/*-------------NAVBAR -> HOME PAGE-------------*/
#home-page-nav {
  display: grid;
  grid-template-areas:
    "my-work"
    "contact"
    "about-me"
    "blog-index";
}

/*-------------NAVBAR -> CONTACT PAGE-------------*/
#contact-page-nav {
  display: grid;
  grid-template-areas:
    "my-work my-work"
    "about-me blog-index";
grid-template-columns: 1fr 1fr;
}



/*-------------FOOTER-------------*/
footer {
  background-color: #b8ff71;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-link {
  padding: 30px 0;
  width: 90px;
  margin: 10px;
  text-align: center;
  background-color: yellow;
}

/*-------------CONTACT.HTML-------------*/
.div-link-button {
  text-align: center;
  margin: 0.5em 30%;
  padding: 2em 0;
}

#linkedin-link-button {
  background-color: #d7bbf7;
}

#resume-link-button {
  background-color: #ffff70;
}
