* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

* h1,
h2,
p {
  text-align: center;
}

* h1 {
  font-size: 2em;
  margin: 0.3em 0;
}

* h2 {
  font-size: 1.5em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

* a {
  text-decoration: none;
  color: black;
}

* figcaption {
  font-style: italic;
  text-align: center;
  padding-top: 0.5em;
  margin: auto;
}

* img {
  display: block;
  margin: auto;
}

* {
  scroll-behavior: smooth;
}

* figure {
  margin-bottom:0.5em 0;
}

/*-------------GRID SET-UP-------------*/
* header {
  grid-area: header;
}

* nav {
  grid-area: nav;
}

* footer {
  grid-area: footer;
}

* main {
  grid-area: main;
}

/*-------------HEADER-------------*/
header {
  text-align: center;
  background-color: #b8ff71;
  margin-bottom: 0rem;
  display: flex;
  justify-content: center;
}

header a {
  padding: 1rem 0;
  width: 100%;
  height: 100%;
}

/*-------------FOOTER-------------*/
footer {
  background-color: #b8ff71;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-link {
  padding: 30px 0;
  width: 90px;
  margin: 10px;
  text-align: center;
  background-color: yellow;
}

#ws-extra-green {
  background-color: #b8ff71;
}

/*-------------ARTICLE STYLING-------------*/

main p {
  text-align: center;
}

article {
  margin: auto;
  width: 90%;
  padding: 1em;
  max-width: 550px;
}

/*-------------NAVBAR SETTINGS FOR EVERY PAGE-------------*/
.nav-bar-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar-container a {
  padding: 3em 0;
  width: 100%;
  height: 100%;
}

#my-work-link {
  background: #fc5656;
  grid-area: my-work;
}

#contact-link {
  background: #d7bbf7;
  grid-area: contact;
}

#about-me-link {
  background: white;
  grid-area: about-me;
}

#blog-index-link {
  background: #5e99ff;
  grid-area: blog-index;
}

#download-resume-nav-link {
  background: #FFFF70;
  grid-area: download-resume;
}


/*-------------NAVBAR -> CONTACT PAGE-------------*/
#contact-page-nav {
  display: grid;
  grid-template-areas:
    "my-work my-work"
    "about-me blog-index";
  grid-template-columns: 1fr 1fr;
}

/*-------------NAVBAR -> BLOG-INDEX-------------*/
#blog-index-page-nav {
  display: grid;
  grid-template-areas:
    "my-work"
    "contact"
    "about-me";
}

/*-------------NAVBAR -> BLOG-POSTS-------------*/
.blog-post-nav {
  display: grid;
  grid-template-areas:
    "blog-index"
    "my-work"
    "contact"
    "about-me";
}

/*-------------NAVBAR -> ABOUT-ME-------------*/
#about-me-nav {
  display: grid;
  grid-template-areas:
    "download-resume"
    "my-work"
    "contact"
    "blog-index";
}

/*-------------NAVBAR -> MY-WORK-------------*/
#my-work-nav {
  display: grid;
  grid-template-areas:
    "download-resume download-resume"
    "contact contact"
    "about-me blog-index";
  grid-template-columns: 1fr 1fr;
}

/*-------------INDEX.HTML-------------*/
#home-page-pic {
  width: 30vw;
  height: 30vw;
  object-fit: cover;
  object-position: 0 20%;
  margin: auto
}

#home-page-nav {
  display: grid;
  grid-template-areas:
    "my-work"
    "contact"
    "about-me"
    "blog-index";
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "header"
  "main"
  "nav"
  "footer"
}

@media screen and (min-width: 700px) { 
    body {    
    grid-template-columns: 1fr 3fr;
    
    grid-template-areas:
    "header header"
    "nav main"  
    "footer footer"
  }
}

@media screen and (min-width: 900px) and (min-height: 600px) and (min-aspect-ratio: 1.5/1) {
  nav {
    position: sticky;
    align-self: start;
    margin-top: 5vh;
    top: 0
    }

    .nav-bar-container a {
      padding: 7vh 0;
    }  
  
    main {    
    grid-template-columns: 1fr 3fr;

    grid-template-areas:
    "header header"
    "nav main"  
    "footer footer"
  }
}

/*-------------CONTACT.HTML-------------*/
.div-link-button {
  text-align: center;
  margin: 0.5em 30%;
  padding: 2em 0;
}

#linkedin-link-button {
  background-color: #d7bbf7;
}

#resume-link-button {
  background-color: #ffff70;
}

/*-------------BLOG-INDEX.HTML-------------*/
#blog-index-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-blog-container {
  max-width: 400px;
  margin: 1.5em 0;
  background-color: #5e99ff;
  padding: 1.5em;
  border-radius: 5%;
}

.single-blog-container h2,
h3,
p {
  margin: 0.2em 0;
  text-align: left;
}

/*-------------BLOG-#.HTML-------------*/
.blog-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog-post img {
  width: 80%;
}

.blog-post figcaption {
  margin: 1em 0;
}

/*-------------ABOUT-ME.HTML-------------*/
#about-me-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about-me-article p {
    text-align: center;
}
  

#about-me-article img {
  width: 30vh;
  height: 30vh;
  object-fit: cover;
  object-position: 0 5%;
}

/*-------------MY-WORK.HTML-------------*/
.my-work-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my-work-article:nth-of-type(even) {
  background-color: #fc5656;
}

.my-work-article img {
  width: 95%;
}

.my-work-article h2, h3 {
  text-align: center;
  margin-left: 0
}

#band-website-vertical {
  width: 70%;
}

