/* Generic Styling */

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;

  font-family: "Besley", serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

* a {
  text-decoration: none;
  color: black;
  transition: 1.2s;
}

* img {
  display: block;
  margin: auto;
}

* {
  scroll-behavior: smooth;
}

* figure {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

main h1,
h2,
p {
  text-align: center;
}

main p {
  margin-top: 0.5rem;
}

main h1,
em {
  font-size: 2rem;
  padding-top: 1rem 0;
  font-weight: bold;
}

main h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

main h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

main p,
figcaption {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

main figcaption {
  font-style: italic;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
}

/* Main Grid-Areas */

* header {
  grid-area: header;
}

* nav {
  grid-area: nav;
}

* footer {
  grid-area: footer;
}

* main {
  grid-area: main;
}

/* Text Component 1 - Header (featured on all pages)*/

header {
  text-align: center;
  background-color: #b8ff71;
  margin-bottom: 0rem;
  display: flex;
  justify-content: center;
}

header a {
  padding: 1.5rem 0;
  width: 100%;
  height: 100%;
}

header h2 {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

/*-------------FOOTER-------------*/
footer {
  background-color: #b8ff71;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Graphical Component 2 Github + LinkedIn Logos (featured on all pages) */

footer img {
  width: 60px;
  margin: 10px;
  transform: none;
}

#footer-house-logo {
  font-size: 45px;
  margin: 0;
  padding: 0;
}

/* Text Component 3 - Nav Bar (featured on all pages, changed order on all pages)*/

.nav-bar-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar-container a {
  padding: 3rem 0;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
}

#my-work-link {
  background: #fc5656;
  grid-area: my-work;
}

#contact-link {
  background: #d7bbf7;
  grid-area: contact;
}

#about-me-link {
  background: rgb(230, 230, 230);
  grid-area: about-me;
}

#blog-index-link {
  background: #5e99ff;
  grid-area: blog-index;
}

#download-resume-nav-link {
  background: #ffff70;
  grid-area: download-resume;
}

#contact-page-nav {
  display: grid;
  grid-template-areas:
    "my-work my-work"
    "about-me blog-index";
  grid-template-columns: 1fr 1fr;
}

#blog-index-page-nav {
  display: grid;
  grid-template-areas:
    "my-work"
    "contact"
    "about-me";
}

.blog-post-nav {
  display: grid;
  grid-template-areas:
    "blog-index"
    "my-work"
    "contact"
    "about-me";
}

#about-me-nav {
  display: grid;
  grid-template-areas:
    "download-resume"
    "my-work"
    "contact"
    "blog-index";
}

#my-work-nav {
  display: grid;
  grid-template-areas:
    "download-resume download-resume"
    "contact contact"
    "about-me blog-index";
  grid-template-columns: 1fr 1fr;
}

/* index.html */

/* Graphical Component 1 - .portrait-pic (featured on index.html + about-me.html)*/

.portrait-pic {
  width: 60vw;
  height: 60vw;
  object-fit: cover;
  object-position: 0 20%;
  margin: auto;
  margin-bottom: 0.5rem;
}

#home-page-main h1 {
  margin-top: 0;
}

#home-page-nav {
  display: grid;
  grid-template-areas:
    "my-work"
    "contact"
    "about-me"
    "blog-index";
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "nav"
    "footer";
}

/* contact.html */
.div-link-button {
  text-align: center;
  margin: 0.5rem 30%;
  padding: 2em 0;
  transition: 1.2s;
}

#linkedin-link-button {
  background-color: #d7bbf7;
}

#resume-link-button {
  background-color: #ffff70;
}

#contact-main {
  margin-top: 2vh;
  margin-bottom: 5vh;
}

/* blog-index.html */

#blog-index-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#blog-index-container h2 {
  margin-top: 0;
  padding: 0;
}

#blog-index-container h3 {
  text-align: start;
}

/* Text Component 4 - .single-blog-containers (featured on blog-index.html) */

.single-blog-container {
  max-width: 500px;
  margin: 1.5rem 0;
  background-color: #5e99ff;
  padding: 2rem;
  padding-top: 0.7rem;
  border-radius: 5%;
  transition: 1.5s;
}

/* blog-#.html */

/* Graphical Component 4 - .blog-post img + figcaption (featured on blog-#.html)*/

.blog-post figcaption {
  margin: 1em 0;
}

.blog-post img {
  width: 80%;
  margin-top: 1rem;
}

.blog-post p {
  text-align: start;
}

.blog-post h3 {
  text-align: start;
  font-weight: bold;
}

/* about-me.html */
#about-me-portrait {
  object-position: 0 15%;
}

/* my-work.html */

/* Graphical Component 3 - My Work Article + Figure (featured on my-work.html)*/

.my-work-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
}


.my-work-article img {
  width: 95%;
}

.my-work-article h2,
h3 {
  text-align: center;
  margin-left: 0;
}

#band-website-vertical {
  width: 70%;
}

/* interactive animations */
nav a:hover {
  background-color: #b8ff71;
  font-weight: bold;
}

.div-link-button:hover {
  transform: scale(1.1);
  font-weight: bold;
}

.single-blog-container:hover {
  transform: scale(1.05);
}

/* Text Component 2 - Reusable Article Dimensions (featured on all pages) */

article {
  margin: auto;
  width: 90%;
  padding: 1rem;
  max-width: 550px;
  margin-bottom: 1em;
}

@media screen and (min-width: 700px) and (min-aspect-ratio: 0.9/1) {
  body {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header header"
      "nav main"
      ". main"
      "footer footer";
  }
  .nav-bar-container a {
    padding: 7vh 0;
    font-size: 1.3rem;
  }

  main h1,
  em {
    font-size: 2.5rem;
  }

  main h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.7rem;
  }

  main p,
  figcaption {
    font-size: 1.3rem;
  }

  article {
    max-width: 700px;
  }

  .portrait-pic {
    width: 40vw;
    height: 40vw;
  }

  header h2 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 900px) and (min-height: 600px) and (min-aspect-ratio: 1.5/1) {
  nav {
    position: sticky;
    align-self: start;
    margin-top: 5vh;
    top: 0;
  }

  .nav-bar-container a {
    padding: 6vh 0;
  }

  main {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header header"
      "nav main"
      "footer footer";
  }

  .portrait-pic {
    width: 25vw;
    height: 25vw;
  }
}
